/*HOME - SECTION ABOUT US*/
.section-about {
    display: flex;
    flex-direction: row;
    height: 100vh;
    column-gap: 3%;
    align-items: center;
    background-color: #AAD4FF;
    position: relative;
}

    .section-about > div {
        width: 50%;
    }

.about-text {
    display: grid;
    height: 100vh;
    align-content: center;
}

.about-img {
    height: 100vh;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}


.featured-text {
    width: 75%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-self: right;
}

    .featured-text > h3 {
        color: #0038a8;
        text-transform: uppercase;
        font-size: 8rem;
    }

    .featured-text > p:first-of-type {
        color: #fcd116;
        padding: 0.5rem;
        background-color: #ce1126;
        box-shadow: 0.5rem 0.5rem;
        font-size: 1.5rem;
    }

    .featured-text > p:nth-of-type(2),
    .featured-text > p:nth-of-type(3) {
        color: #0038a8;
        text-transform: uppercase;
        margin-top: 1rem;
        font-size: 1.6rem;
    }

.featured-img {
    background: url(featured.png);
    background-position: center;
    background-size: cover;
    width: 75%;
    height: 50%;
    float: left;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*HOME - SECTION MENU*/
.section-menu {
    height: 100vh;
    /*    background: url(bg-static.jpg) no-repeat fixed;
    background-position: center;
    background-size: cover;*/
    position: relative;
}

.section-menu video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.menu-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-text > h3 {
    padding-top: 5vh;
    color: white;
    text-transform: uppercase;
    font-size: 7rem;
}

.menu-text > p {
    font-weight: 200;
    font-size: 1.8rem;
    color: white;
}

.menu-text > a {
    color: #0038a8;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding: 5px 7px;
    margin: 1.5rem;
    background-color: #fcd116;
    border-radius: 5px;
}

.menu-text > a:hover {
    box-shadow: 7px 7px;
}

.menu-items {
    display: flex;
    flex-direction: row;
}

.item-container {
    width: 33.33%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-img {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    position: absolute;
    border: solid 5px #fcd116;
}

.img-1 {
    background: url(menu-img/creamy-baked-mussels.jpg);
    background-position: center;
    background-size: cover;
}

.img-2 {
    background: url(menu-img/coconut-crab.jpg);
    background-position: center;
    background-size: cover;
}

.img-3 {
    background: url(menu-img/drunk-shrimp.jpg);
    background-position: center;
    background-size: cover;
}

.item-container:hover > .item-desc {
    display: block;
}

.item-container:hover > .item-img {
    display: none;
}

.item-desc {
    width: 20rem;
    height: 20rem;
    border-radius: 7%;
    background-color: #fcd116;
    position: relative;
    display: none;
}

.item-desc::before {
    content: '';
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: -6rem;
    right: 3.5rem;
    border: 4px solid #fcd116;
}

.desc-1::before {
    background: url(menu-img/creamy-baked-mussels.jpg);
    background-position: center;
    background-size: cover;
}

.desc-2::before {
    background: url(menu-img/coconut-crab.jpg);
    background-position: center;
    background-size: cover;
}

.desc-3::before {
    background: url(menu-img/drunk-shrimp.jpg);
    background-position: center;
    background-size: cover;
}

.item-desc > h3 {
    padding: 8rem 0.5rem 0 0.5rem;
    font-size: 2.5rem;
}

.item-desc > p {
    padding: 0.5rem;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1.4rem;
}
